.main-container {
  display: grid;
  grid-template-columns: 180px minmax(calc(100% - 180px), 1fr);
  grid-template-rows: 100%;
  height: 100%;
  .content {
    height: 100%;

    > div {
      height: 100%;
    }
  }
}
