@prefix: ~'song-details';

.@{prefix} {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  background-color: #fafafa;
  &-left {
    width: 30%;
    height: 100%;
    margin-right: 8%;
    margin-left: 20%;
    &-pic {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 386px;
      height: 386px;
      > div {
        width: 70%;
        height: 70%;
        border-radius: 50%;
        background-size: contain;
      }
    }
  }
  &-right {
    flex: 1;
    height: 100%;
    &--lyrice {
      width: 76%;
      height: 100%;
      overflow: hidden;
      &-contanier {
        padding: 50% 10px;
        div {
          height: 50px;
          line-height: 50px;
        }
        .lyrice-active {
          font-weight: bold;
          font-size: 16px;
          color: var(--primary-theme-text);
        }
        .lyrice-placeholder {
          height: 50%;
        }
      }
      .v-easy-scroll {
        height: 100%;
        &-wrap {
          height: 100%;
        }
      }
    }
  }
}

.visible {
  &-enter,
  &-leave {
    &-active {
      transition: transform 0.3s;
      transform-origin: left bottom;
    }
  }
  &-enter {
    &-from {
      transform: scale(0);
    }
    &-to {
      transform: scale(1);
    }
  }
  &-leave {
    &-from {
      transform: scale(1);
    }
    &-to {
      transform: scale(0);
    }
  }
}
