@prefix: ~'swiper';

.show() {
  transition: all 0.5s;
  opacity: 1;
}

@keyframes spanScale {
  0% {
    transform: translateX(-50%) scale(1.2);
  }
  50% {
    transform: translateX(-50%) scale(1.1);
  }
  100% {
    transform: translateX(-50%) scale(1.2);
  }
}

.prevActiveFn(@position: 50%) {
  @keyframes prevActive {
    0% {
      left: @position;
    }
    100% {
      left: 0;
    }
  }

  animation: prevActive 0.5s;
}

.nextActiveFn(@position: 50%) {
  @keyframes nextActive {
    0% {
      right: @position;
    }
    100% {
      right: 0;
    }
  }

  animation: nextActive 0.5s;
}

@radius: 8px;

.@{prefix} {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 20px 0;
  &-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: calc(90% - 20px);

    &-left,
    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 80px;
      height: 100%;
      top: 0;
      z-index: 2;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.2s;
    }
    &-left {
      border-top-left-radius: @radius;
      border-bottom-left-radius: @radius;
      left: 0;
      background-image: linear-gradient(to right, #000000bf, transparent);
    }
    &-right {
      border-top-right-radius: @radius;
      border-bottom-right-radius: @radius;
      right: 0;
      background-image: linear-gradient(to left, #000000bf, transparent);
    }
    &:hover {
      .@{prefix}-container-left,
      .@{prefix}-container-right {
        opacity: 1;
      }
    }

    li {
      position: absolute;
      width: 50%;
      height: 100%;
      opacity: 0;
      will-change: left, right, transform;
      div {
        height: 100%;
        border-radius: @radius;
        background-size: cover;
      }
    }
    .@{prefix}-normal-item {
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.5s;
    }
    .@{prefix}-prev,
    .@{prefix}-next {
      .show();
    }
    .@{prefix}-prev {
      left: 0;
      transform: translateX(0);
      &-span {
        transition: none;
        .prevActiveFn(10%);
      }
    }
    .@{prefix}-next {
      left: auto;
      right: 0;
      transform: translateX(0);
      &-span {
        transition: none;
        .nextActiveFn(10%);
      }
    }
    .@{prefix}-current {
      left: 50%;
      transform: translateX(-50%) scale(1.2);
      z-index: 1;
      .show();
    }
    .@{prefix}-current-span {
      animation: spanScale 0.5s cubic-bezier(0, 0, 0.05, 0.58);
    }
    .@{prefix}-span-current {
      transition: none;
    }
  }
  &-pagination {
    height: 10%;
    margin-top: 20px;
    li {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--background-lighter);
      margin: 0 6px;
    }
    li&-active {
      background-color: var(--base-color);
    }
  }
}
