@import '~@/theme/index.less';

.setting-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  overflow: auto;
  background-color: white;
  h1 {
    font-size: 20px;
    font-weight: bold;
  }
  h2 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  &-route {
    border-bottom: @lighter-border;
    &--active {
      font-weight: bold;
      .drank-border-bottom(2px);
    }
    ul {
      display: flex;
      align-items: center;
      li {
        padding-bottom: 10px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
  &-description {
    margin: 8px 0;
    font-size: 12px;
  }
  &-paragraph {
    line-height: 2.5;
    text-indent: 24px;
    ul {
      padding-left: 40px;
      li {
        text-indent: 0;
        list-style-type: circle;
      }
    }
  }
  &-contanier {
    flex: 1;
    height: 0;
    overflow: auto;
    > div {
      padding-bottom: 20px;
      margin-top: 50px;
      > h2 {
        position: relative;
        display: inline-block;
      }
      &:not(:last-child) {
        border-bottom: @lighter-border;
      }
      &[data-platform='electron'] h2 {
        &::after {
          position: absolute;
          top: 0;
          right: -76px;
          padding: 4px 8px;
          font-size: 12px;
          color: white;
          content: 'electron';
          background-color: var(--base-color);
          border-radius: 4px;
        }
      }
    }
    &--setting {
      .download-quality {
        justify-content: flex-start;
      }
      .download-path {
        margin-top: 10px;
        button {
          margin-left: 10px;
        }
      }
    }
    &--effect {
      .effect {
        &-basic {
          margin-bottom: 10px;
          > div {
            margin-bottom: 6px;
          }
        }
        &-convolver {
          > div {
            margin-bottom: 6px;
          }
          .van-radio-group {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }
    &--upgrade {
      .upgrade {
        &-basic {
          margin-bottom: 10px;
        }
        &-check {
          .ant-btn {
            display: flex;
            align-items: center;
          }
          span {
            margin-left: 4px;
            font-size: 13px;
          }
          p {
            margin-top: 10px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
