@prefix: ~'song';

.center-contanier() {
  position: relative;
}
.center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.@{prefix}-list {
  padding: 10px 0;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    height: 100%;
  }
  &-container {
    display: flex;
    flex-direction: column;
    min-height: 220px;
    cursor: pointer;
    user-select: none;
    .song-pic {
      position: relative;
      flex: 1;
      height: 0;
      &-count {
        position: absolute;
        top: 2px;
        right: 6px;
        color: white;
      }
      &-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: #1e53a3;
        background-size: cover;
        border-radius: 4px;
        &--date {
          .center-contanier();
          > div {
            margin-top: 6px;
            font-size: 28px;
            color: white;
            .center();
          }
        }
      }
    }
    .song-title {
      height: 44px;
      margin-top: 10px;
    }
  }
}
