@china-red: #f22e2e;
@background-lighter: #f8f8f9;

@base-theme-text-color: #f22e2e;
@primary-theme-text: @base-theme-text-color;
@normal-theme-text: lighten(@base-theme-text-color, 10%);
@secondary-theme-text: lighten(@base-theme-text-color, 20%);

@base-text-color: #303133;
@primary-text: @base-text-color;
@normal-text: lighten(@base-text-color, 10%);
@secondary-text: lighten(@base-text-color, 20%);
@placeholder-text: lighten(@base-text-color, 30%);

@base-border-color: #dcdfe6;
@base-border: 0.5px solid @base-border-color;
@light-border: 0.5px solid lighten(@base-border-color, 2%);
@lighter-border: 0.5px solid lighten(@base-border-color, 4%);
@extra-light-border: 0.5px solid lighten(@base-border-color, 6%);
