*,
*:focus,
*:hover {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #e2e2e2;
  border-radius: 2px;
}

button.easy-button-text {
  color: #1890ff !important;
}

.ant-table-body {
  font-size: 13px;
}

.ant-table-row-cell-ellipsis {
  > div {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ant-table-tbody > tr {
  & > td {
    transition: none;
  }
  &:hover {
    & > td {
      background-color: var(--background-darken) !important;
    }
  }
}

.ant-modal-header {
  user-select: none;
}

.ant-btn:hover,
.ant-btn:focus {
  color: var(--base-color-lighten);
  background-color: #fff;
  border-color: var(--base-color-lighten);
}

.ant-btn-primary {
  color: #fff;
  background-color: var(--base-color);
  border-color: var(--base-color);
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background-color: var(--base-color-lighten);
  border-color: var(--base-color-lighten);
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: var(--base-color);
  border-right-width: 1px !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: var(--base-color-lighten);
  box-shadow: none;
}

.ant-radio-checked .ant-radio-inner {
  border-color: var(--base-color);
}
.ant-radio-inner::after {
  background-color: var(--base-color);
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: var(--base-color);
}

.ant-input:hover {
  border-color: var(--base-color);
  border-right-width: 1px !important;
}
.ant-input:focus {
  border-color: var(--base-color-lighten);
  box-shadow: none;
}
