.none-select {
  user-select: none;
}

.bg-img {
  position: relative;
  overflow: hidden;
  background-color: var(--base-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vchj {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
