@base-border-color: #dcdfe6;
@base-border: 0.5px solid @base-border-color;
@light-border: 0.5px solid lighten(@base-border-color, 2%);
@lighter-border: 0.5px solid lighten(@base-border-color, 4%);
@extra-light-border: 0.5px solid lighten(@base-border-color, 6%);

@drank-border: 0.5px solid darken(@base-border-color, 40%);

button.easy-button-text {
  color: #1890ff !important;
}
