html,
body,
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

*,
*:focus,
*:hover {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #e2e2e2;
  border-radius: 2px;
}

.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vchj {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
