html,
body,
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: auto;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
