@import '~@/theme/index.less';

.sidebar {
  padding: 10px;
  border-right: @base-border;
  &-nav {
    &-name {
      height: 40px;
      padding: 0 6px;
      margin: 2px 0;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: var(--secondary-text);
      &:hover {
        background-color: #f3f3f3;
        color: var(--secondary-text-hover);
      }
    }
    &-active {
      .sidebar-nav-name {
        background-color: #f3f3f3;
        font-weight: bold;
        color: var(--active-color);
        &:hover {
          color: var(--active-color);
        }
      }
    }
    &-header {
      margin-top: 16px;
      padding: 0 6px;
      color: #c8c8c8;
    }
  }
}
