.header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: var(--base-color);
  display: flex;
  align-items: center;
  padding: 0 16px;

  &-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-left: 32px;
    &-left {
      display: flex;
      align-items: center;
    }
    &-right {
      height: 100%;
      display: flex;
      align-items: center;
      cursor: auto;
    }
  }
  &-window {
    display: flex;
    align-items: center;
    height: 100%;
    & button&-btn {
      height: 100%;
      padding: 0 20px;
      margin: 0 !important;
      border-radius: 0;
      transition: all 0.2s;
      -webkit-app-region: no-drag;
      &:hover {
        background-color: #e2c9c940;
      }
    }
  }
  button {
    -webkit-app-region: no-drag;
  }
}

.container {
  &-sm {
    .header {
      display: none;
    }
  }
  &-md {
    .header {
      cursor: grab;
    }
  }
  &-lg {
    .header {
      cursor: auto !important;
    }
  }
}
