@prefix: ~'music';

.@{prefix}-command {
  display: flex;
  justify-content: center;
  flex: 1;
  &-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 440px;
  }
  &-group {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    &--function {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  @indicator: 12px;
  &-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    height: @indicator;
  }
  .audio-background {
    display: none;
  }
}

.theme-btn-color {
  color: var(--base-color);
  svg {
    fill: #5a5a5a !important;
  }
}
